button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;

  font-weight: bolder;

  color: white;
  background: var(--primary-blue-10);
  transition: all 0.5s ease-in;
}

.btn-secondary {
  padding: 12px 40px;
}

.btn-primary {
  width: 100%;
  padding: 12px;
}

.button-card-promo{
  width: 100%;
  padding: 12px;
}

button:hover {
  background: var(--secondary-blue-1);
}
