.card-info {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;

  width: 320px;
  height: 200px;
  padding: 16px;

  border: 1px solid var(--tertiary-gray-1);
  border-radius: 12px;

  background: #ffffff;
  color: var(--secondary-blue-3);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;

  width: 100%;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 32px;

  width: 100%;
}

.card-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.card-main-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  border-radius: 12px;
  background: var(--primary-blue-60);
  color: var(--secondary-blue-3);
}

.card-main-text {
  color: var(--tertiary-gray-1);
}

.view-button {
  color: var(--tertiary-gray-1);
}

.view-all {
  text-decoration: none;
  font-weight: bolder;
  color: var(--secondary-blue-3);

  transition: all ease-in 0.5s;
}

.view-all:hover {
  color: #0d2a30;
}

hr {
  width: 100%;
}

@media (max-width: 425px) {
  .card-info {
    gap: 3vw;
    height: 180px;
    padding: 5%;
  }

  .card-header {
    gap: 3vw;
    font-size: 5vw;
  }

  .card-content {
    justify-content: center;
    gap: 5vw;
    font-size: 4vw;
  }

  .card-main-content {
    gap: 2vw;
  }

  .view-all {
    font-size: 5vw;
  }
}
