.container-pcontrole {
    display: flex;
    /* width: 0%; */
}

.container-dashboard-config {
    flex: 1;
    padding-left: 0px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 50px;
    margin-top: 50px;
    gap: 40px;
}

.dashboard h1,
.dashboard span {
    color: var(--tertiary-gray-1);
}

.dashboard-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-description {
    font-size: 16px;
}

.dashboard-card2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.dashboard-card3 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--tertiary-gray-4);
    border-radius: 10px;
}

.dashboard-card3-h1 {
    font-size: 24px;
}