
.home-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;

  max-width: 1400px;
  width: 100%;
  height: auto;
  padding: 24px;
}

.section-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  width: 100%;
}

.card-section-title {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  
  color: var(--tertiary-gray-1);
}

.card-section-title-hr {
 width: 10%;

 border-color: var( --primary-blue-10);
}


.card-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;

  padding: 12px 0;

  width: 100%;
  height: auto;
}

