.container-login {
    width: 100%;
    display: flex;
}

.container-left {
    width: 50%;
    height: 100%;
    /* background-color: var(--primary-blue-10); */
    background-image: url("../../assets/image/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: white;
    /* padding: 0 180px; */
}

.form-container.login {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
}

.container-right h1 {
    color: var(--tertiary-gray-1);
    font-weight: 800;
    margin-bottom: -17px;
}

.span-description {
    color: var(--tertiary-gray-1);
    font-weight: 500;
    margin-bottom: 25px;
}

.form-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 20px 0;
}

.form-container2 a {
    color: var(--tertiary-gray-1);
    font-weight: 700;
    text-decoration: none;
}

.form-container2 a:hover {
    color: var(--secondary-blue-4);
}

.link-cadastrar {
    text-align: center;
    margin-top: 50px;
}

.link-cadastrar a {
    color: var(--primary-blue-10);
    font-weight: 700;
    text-decoration: none;
}

.link-cadastrar a:hover {
    color: var(--secondary-blue-4);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: -5px;
    display: flex;
}

@media (max-width: 1360px) {
    .container-right h1 {
        font-size: 26px;
    }
}
